# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Pymakr
.pymakr-conf.json

# Python
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/
*.code-workspace

# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# macOS (por si Diego o Mag usan Mac)
.DS_Store